{% load static %} 
<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'recipes:list' %}">Home</a></li>
                <li><a href="{% url 'recipes:add' %}">Add Recipe</a></li>
                <li><a href="{% url 'recipes:about' %}">About Me</a></li>
                <li><a href="{% url 'logout' %}" class="logout-button">Logout</a></li>
            </ul>
        </nav>

        <div class="container about-container">
            <h1>About Me</h1>
            <p>
                Welcome to the Recipe App! My name is <strong>Maria Vasiliki Anastasopoulou</strong>, 
                and I'm a web developer (still in training) from Greece. I created this app to share my passion 
                for coding and to help people organize and discover amazing recipes.
            </p>
            <br>
            <p>
                You can find more about me and my work on my <a href="https://malvinaana.github.io/portfolio-website/work.html" target="_blank">Portfolio Website</a>.
            </p>
            <br>
            <h2>Contact Information</h2>
            <p>
                For inquiries or collaboration, please visit my <a href="https://malvinaana.github.io/portfolio-website/contact.html" target="_blank">Contact Page</a>.
            </p>
        </div>
    </body>
</html>