{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Details</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'recipes:list' %}">Home</a></li>
                <li><a href="{% url 'recipes:add' %}">Add Recipe</a></li>
                <li><a href="{% url 'recipes:about' %}">About Me</a></li>
                <li><a href="{% url 'logout' %}" class="logout-button">Logout</a></li>
            </ul>
        </nav>

        <!-- Recipe Details -->
        <div class="recipe-details-container">
            <h2>{{ object.name }}</h2>
            <div class="details">
                <b>Name: </b> {{ object.name }} <br>
                <b>Ingredients: </b> {{ object.ingredients }} <br>
                <b>Cooking Time: </b> {{ object.cooking_time }} minutes <br>
                <b>Difficulty: </b> {{ object.difficulty }} <br>
            </div>
            <div class="image-container">
                <img src="{{ object.image.url }}" alt="{{ object.name }}">
            </div>
        </div>
    </body>
</html>